## StatsTechData_CA2

In [1]:
# Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from pydataset import data

### Task 1:
Load the dataset Q1.csv. It contains the exam scores (in percentages) of a sample of 50 students from a Dublin secondary school. 
- Find and comment on important summary statistics and produce an appropriate plot to summarise the dataset. 
- One of the teachers is concerned about the performance of the students in the school. She suspects that their performance may be below the reported national average of 70%. Does the data show that her concerns are justified? Use a significance level of alpha = 0.05. 
- Produce and comment on an appropriate plot to illustrate your findings. 

Marks[25]

In [2]:
df = pd.read_csv('Q1.csv') # Load the 'Q1' dataset
df.head()

   exam_score
0       74.54
1       66.20
2       86.75
3       70.87
4       80.43

### Task 2:

Load the diamonds dataset, and print the first 5 rows. The color variable refers to the colour of the 
diamond, with categories from “D” to “J”. Colourless diamonds are considered better than 
diamonds with a yellow tint. Diamonds from “D” to “F” are considered colourless, and diamonds 
from colour “G” to “J” are not considered colourless (that is, they have a very faint colour).

- Create a new binary variable in the dataframe called “colourless” which records 1 in rows with colourless diamonds and 0 otherwise.
- Perform an appropriate hypothesis test to determine whether there is any association between the clarity of a diamond and whether it is colourless or not. Use a significance level of alpha = 0.01.
- Produce and comment on an appropriate plot to illustrate your findings. 
- Find and interpret 90% confidence intervals for both the mean price of colourless diamonds and the mean price of non-colourless diamonds. 

Marks[25]

In [3]:
diam = sns.load_dataset('diamonds', cache=True, data_home=None) # Load the 'diamonds' dataset

In [4]:
diam.head() # Show the first 5 rows

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

### Task 3:

Load the PlantGrowth dataset from the pydataset library. It contains the results of a small study 
comparing the yields of plants obtained under a control and under two different treatment 
conditions.
- Find and comment on important summary statistics by treatment and produce an appropriate plot to summarise the dataset.
- Conduct an appropriate hypothesis test to see if there is evidence of a difference between the three means (that is, the control and the two treatments). Use a significance level of alpha = 0.05. 
- If there is evidence of a difference between the three means, find and comment on where this difference may be.

Marks[25]

In [5]:
plant = data('PlantGrowth') # Load the 'PlantGrowth' data set from pydataset
plant.head()

   weight group
1    4.17  ctrl
2    5.58  ctrl
3    5.18  ctrl
4    6.11  ctrl
5    4.50  ctrl

### Task 4:

Load the trees dataset from the pydataset library. It contains measurements of the diameter, 
height and volume of timber in 31 felled black cherry trees. Note that the diameter (in inches) is 
labelled girth in the dataset. It is measured at 4 foot 6 inches above the ground.
- Perform a correlation analysis between all numerical variables. Include and comment on the results of hypothesis tests for the population correlation coefficients between all three pairs of variables (you can use the pearsonr function from the scipy.stats library). 
- There is interest in estimating the volume of timber from trees using either the girth or the height of the trees, or both. Perform a regression analysis to decide which of the three possible models you would recommend using. Interpret your results and provide a short conclusion of your findings.

Marks[25]

In [6]:
tr = data('trees') # Load the 'trees' data set from pydataset
tr.head()

   Girth  Height  Volume
1    8.3      70    10.3
2    8.6      65    10.3
3    8.8      63    10.2
4   10.5      72    16.4
5   10.7      81    18.8